*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color:rgb(37, 37, 145) ;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* Header */

header{
    width: 100%;
    height: 600px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #4286f4d3, #373b445f), url(imagen8.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #4286f4d3, #373b445f), url(imagen8.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: beige;
}
.contenedor-mediaquery{
    display: flex;
    justify-content: space-evenly;
}
.mediaquery .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.MockUp{
    background: #f2f2f2;
}
.contenedor-mockup{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.imagenC1{
    width: 50%;
    margin-bottom: 10px;
}
.imagenC2{
    width: 90%;
    margin-bottom: 10px;
}
.imagenMU{
    width: 50%;
    margin-bottom: 10px;
}
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.imagenfoot{
    margin-bottom: auto;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: rgba(126, 126, 126, 0.83);
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: rgba(126, 126, 126, 0.83);
}
.final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #646464;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-mediaquery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mediaquery .contenido-textos{
        width: 90%;
    }
    .imagenC1{
        width: 98%;
    }
    .imagenC2{
        width: 98%;
    }
    .imagenMU{
        width: 98%;
    }
    .contenedor-mockup{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .imagenfoot{
        width: 90%;
        flex-direction: column;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid rgba(126, 126, 126, 0.83);
    }
    .final{
        font-size: 20px;
    }
}
